### Q-17. Write an SQL query to show the top n (say 10) records of a table.

In [ ]:
select * 
from table_name
limit n;

### Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.

In [ ]:
select min(salary)
from (select salary from table_name order by salary desc limit n) as result;