### Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

In [ ]:
select salary
from 
(select row_number() over (order by salary desc) as rownumber, salary 
from Employee) as result
where rownumber = 5;

### Q-20. Write an SQL query to fetch the list of employees with the same salary.

In [ ]:
select a.name, b.name
from Employee a, Employee b
where a.salary = b.salary and a.name != b.name;