### Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

In [ ]:
select * 
from Worker 
where year(JOINING_DATE) = 2014 and monthname(JOINING_DATE) = 'February';

### Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.

In [ ]:
select Col_Name, count(Col_Name)
FROM table_name
group by Col_Name
having count(Col_Name) > 1;

### Q-3. How to remove duplicate rows from Employees table.

In [ ]:
delete e1 from Employees e1, Employees e2 
where e1.id > e2.id and e1.email = e2.email